
h1 {
  margin-top: 2cm;
  margin-bottom: 20px;
  text-align: center;
}

.edit-page-container {
  margin-bottom: 5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-top: 60px; 
  margin-bottom: 4rem;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* .form-group {
  flex: 0 0 calc(33.33% - 20px);
  margin-right: 20px;
} */
.form-group {
  flex: 0 0 calc(50% - 20px); /* Para que cada input ocupe la mitad del contenedor */
}


.form input,
.form textarea {
  width: 30%;
  padding: 10px;
  margin-bottom: 16px;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box; 
}
.form input[type="number"] {
  text-align: center;
}

.form > div {
  flex: 0 0 calc(33.33% - 20px); 
  margin-right: 20px; 
}

.EditRestForm {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px; 
  font-weight: bolder;
  font-size: 14px;
  /* margin-left: 20px; */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 40px;
}

textarea {
  height: 200px;
  resize: none;
  font-family: sans-serif;
}

