.edit-profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .edit-profile-page h1 {
    margin-bottom: 20px;
  }
  
  .edit-profile-page form {
    max-width: 400px;
    width: 100%;
  }
/*   
  .edit-profile-page button[type="submit"],
  .edit-profile-page .discard-btn {
    background-color: #26798c;
    color: white;
    padding: 15px 30px;
    border: 2px solid #0b0b0b;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease; 
    margin-right: 10px;
  }
  
  .edit-profile-page button[type="submit"]:hover,
  .edit-profile-page .discard-btn:hover {
    background-color: #45a049;
    border-color: #080808;
    color: white; 
  }
  
  .edit-profile-page .discard-btn:hover,
  .edit-profile-page .discard-btn:focus {
    background-color: #d32f2f;
    border-color: #080808;
    color: white; 
  } */
  
  