@import url("https://fonts.googleapis.com/css?family=Poppins");

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  margin-top: 10rem;
  position: relative;
}

.wrapper .fadeInDown {
  height: 100vh;
  background-color: #56baed;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

#formContentLogin {
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

.login-form-input[type="button"],
.login-form-input[type="submit"],
.login-form-input[type="reset"] {
  background-color: #39ace7;
  border: none;
  color: white;
  width: 85%;
  padding: 15px 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
  transform: scale(0.95);
}

.login-form-input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  font-size: 16px;
  width: 85%;
  transition: all 0.5s ease-in-out;
  border-radius: 25px;
}

.login-form-input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}

#icon {
  width: 100%;
  max-width: 60%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.password-container {
  position: relative;
  width: 85%;
  margin: 5px auto;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  font-size: 16px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 25px;
  box-sizing: border-box;
  padding-right: 40px;
}

.password-container input[type="password"]:focus,
.password-container input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 100%;
}

.password-container span svg {
  width: 26px;
  height: 20px;
}

