.profile-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .user-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .user-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info p {
    margin: 10px 0;
  }
  
  .loading-message {
    font-style: italic;
    color: #888;
  }
  