.profile-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 9rem;
    
  }
  
  .user-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .user-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info p {
    margin: 10px 0;
  }
  
  .loading-message {
    font-style: italic;
    color: #888;
  }
  
.btn-edit,
.btn-delete {
  background-color: #26798c;
  color: white;
  padding: 15px 30px;
  border: 2px solid #0b0b0b;
  border-radius: 61px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 10px;
}

.btn-edit:hover {
  background-color: #45a049;
  border-color: #080808;
}

.btn-delete {
  background-color: #f44336;
  border-color: #080808;
}
