.RestDetailPage {
  padding: 20px;
  margin-bottom: 5rem;
}

.restaurant-details {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  margin-right: 20px;
}

.restaurant-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.buttons {
  margin-top: 10px;
}

.ratings-comments {
  margin-top: 20px;
}
.description-rest {
  margin-top: 3rem;
}

  