.RestDetailPage {
  padding: 20px;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
#rest-name {
  font-size: 60px; 
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
  opacity: 0.5;
}

.restaurant-details {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  margin-right: 20px;
}

.restaurant-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.buttons {
  margin-top: 10px;
  position: absolute;
  top: 7rem;
  right: 40px;
  z-index: 999;
  
}

.comments {
  margin-top: 20px;
  
}
.description-rest {
  margin-top: 3rem;
  
}
.comment-item {
  background-color: blanchedalmond;
}
.delete-button {
  position: relative;
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s ease, color 0.5s ease; 
}

.edit-button {
  position: relative;
  background-color:  #87ceeb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s ease, color 0.5s ease; 
}

.delete-button::before,
.edit-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white; 
  transition: height 0.5s ease; 
  z-index: -1;
}

.delete-button:hover::before,
.edit-button:hover::before {
  height: 100%; 
}

.delete-button:hover {
  background-color: transparent;
  color: #ff6347; 
  border-radius: 16px;
}

.edit-button:hover {
  background-color: transparent;
  color: #87ceeb; 
  border-radius: 16px;
}
