.RestDetailPage {
  padding: 20px;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
#rest-name {
  font-size: 60px; 
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
  opacity: 0.5;
}

.restaurant-details {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  margin-right: 20px;
}

.restaurant-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.buttons {
  margin-top: 10px;
}

.comments {
  margin-top: 20px;
  
}
.description-rest {
  margin-top: 3rem;
  
}
.comment-item {
  background-color: blanchedalmond;
}
.delete-button {
  background-color: #ff6347; 
  color: white; 
  border: none; 
  padding: 8px 16px; 
  border-radius: 4px; 
  cursor: pointer; 
}

.edit-button {
  background-color: #87ceeb; 
  color: white; 
  border: none; 
  padding: 8px 16px; 
  border-radius: 4px; 
  cursor: pointer; 
}

