.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
  }
  
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #FFF;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  }
  
  .card:hover {
    height: 400px;
  }
  
  .card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .card:hover .img-box {
    top: -100px;
    transform: scale(0.75);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  }
  
  .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .card:hover .content {
    top: 130px;
    height: 250px;
  }
  
  .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
  }
  
  .card .content p {
    color: #333;
  }
  
  .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: #FFF;
    font-weight: 500;
  }
  
  .card .content a:hover {
    opacity: 0.8;
  }
  
  @media (max-width: 480px) {
    .card {
      width: 230px;
      border-radius: 15px;
    }
  
    .card .img-box {
      width: 185px;
      border-radius: 10px;
    }
  
    .card .content p {
      font-size: 0.8rem;
    }
  
    .card .content a {
      font-size: 0.9rem;
    }
  }
  
  .read-more-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #001e96; 
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    
  }
  
  .read-more-button:hover {
    background-color: #00796b; 
    
  }
  .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #87ceeb; 
    color: #fff; 
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .card .content a:hover {
    background-color: #53bcb0;
  }
  .container .card .content p {
    color: #171515; 
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);  */
}

.container .card .content h2 {
    font-size: 1.5rem;
    font-weight: 800; 
    color: var(--clr);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); 
}
