.comments-container {
  margin-top: 20px;
}

.comment-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
}

.comment-item p:nth-child(2) {
  color: black; 
}

.comment-form {
  margin-top: 20px;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.comment-form button {
  position: relative;
  background-color: #87ceeb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s ease, color 0.5s ease; 
}

.comment-form button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white; 
  transition: height 0.5s ease; 
  z-index: -1;
}

.comment-form button:hover::before {
  height: 100%; 
}

.comment-form button:hover {
  background-color: transparent;
  color: #87ceeb !important; 
  border-radius: 16px;
}

  #comment {
    color: black;
    font-size: 23px;
  }