.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001529;
  color: #fff;
  padding: 20px 0;
  display: flex;
}

.footer a {
  color: #fff;
  margin-right: 20px;
}

.footer-icons {
  display: flex;
}
@media (max-width: 600px) { 
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .footer-icons {
    margin-left: 5rem;
    margin-bottom: 2rem;
  }
}

.footer-icon {
  width: 40px;
  height: 40px;
  color: #b0bfd8;
}

.footer-center {
  text-align: center;
  flex-basis: 100%; 
  margin-bottom: 10px; 
}

.footer-right {
  flex-basis: 100%; 
  max-width: 100%; 
}



  