.home-link {
  display: block;
  width: 40px; /* Ajusta el tamaño según sea necesario */
  height: 40px; /* Ajusta el tamaño según sea necesario */
  text-decoration: none;
  background-color: transparent;
}

.home-icon {
  width: 100%;
  height: 100%;
  color: #b0bfd8; 
}


