.login-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear elementos verticalmente */
  }
  
  .avatar {
    width: 5px; /* Tamaño del avatar */
    height: 5px; /* Tamaño del avatar */
    border-radius: 50%; /* Hacer el avatar circular */
    margin-right: 10px; /* Espacio entre el avatar y el texto */
  }
  