.navBarDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", Arial, sans-serif;
}
nav {
  background-color: rgb(103, 193, 247);
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
}

li {
  display: inline;
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: double;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #41e77e;
}
#sidebar a.active {
  color: red;
}

.button-logout {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.button-logout:hover {
  background-color: #cc0000;
}
button-logout-container {
  margin-left: auto;
}
.get-in-container {
  align-items: center; 
}

.get-in-image {
  width: 40px;
  height: auto; 
  margin-right: 10px; 
  border-radius: 50px;
}
