nav {
    background-color: rgb(103, 193, 247);
    padding: 20px;
    text-align: center;   
    height: 60px; 
  width: 100%; 
  position: fixed; 
  top: 0;

  }

  .nav-ul {
    display: block;
    justify-content: space-between;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #41e77e;
  }
  #sidebar a.active {
    color: red;
  }