/* Estilos para el SearchBar */

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}

.search-container input[type=text]:focus {
    border-bottom: 2px solid red; 
}

.search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.search-container button i {
    color: #555;
    font-size: 20px;
}
